body{
    background-image: url(../img/body_patterns/bg-light-4846.png);
}
* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
    white-space:normal;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.input-file{
    height:auto
}
.one_rev{
    border:1px solid #ccc;
    padding:5px;
    width:100%;
    background:rgba(255, 255, 255, 0.5);
    border-radius:5px;
    margin:0 0 1em 0;
    float:left;
    width:100%
}
.thumb{
    float: left;
    margin-right: 10px;
}
.content .h{
    width: 50%;
    margin:0;
    font-size:22px;
    display:table-cell
}
.header_post{
    float: left;
    width: 788px;
    border-bottom:1px solid #ccc;
    display:table
}
time{
    width: 50%;
    text-align: right;
    color: rgba(119, 119, 119, 0.62);
    display:table-cell;
    vertical-align:middle
}
.email_rev{
    color: rgba(119, 119, 119, 0.62);
}
.text_rev{
    margin:0
}
.footer_post{
    float: right;
}
.text_rev{
    padding:2em 0 0 0
}
textarea{
    min-width:100%;
    max-width:100%
}
.error{
    color:#FF0505;
    font-weight:400
}
.form_wrapper {
    width: 250px;
    height: 286px;
    left: 50%;
    margin-left: -125px;
    position: absolute;
    top: 50%;
    margin-top: -143px;
}
footer a{
    color: rgba(119, 119, 119, 0.62);
}
.admin,
.edit{
    padding-top:70px
}
.logout_a{
    margin:7px 0 0 0
}
.state,
.email_rev{
    float:right;
    margin: 0 9px 0 0;
}
.status,
.state,
.email_rev{
    line-height: 24px;
}
.txt_status,
.txt_radio{
    font-weight:bold
}
@media (max-width: 508px) {
    .content .h,
    time{
        width:auto;
        display:block
    }
    time{
        text-align:center;
        vertical-align:auto
    }
    .content .h{
        text-align:center
    }
    .email_rev{
        text-align: center;
        float: none !important;
    }
    .footer_post{
        float:none
    }
    .text_rev{
        text-align:justify
    }
}
@media (max-width: 663px) {
    .admin .footer_post{
        float:none;
        width:auto
    }
    .admin .state,
    .admin .email_rev,
    .admin .status{
        margin: 0 auto;
        display: table;
        float:none
    }
    .admin .edit_a{
        display: table;
        margin: 0.5em auto 0 auto;
    }
}
@media (max-width: 767px) {
    .thumb{
        float:none;
        display:table;
        margin:0 auto
    }
    .header_post{
        width: 100%;
    }
    .admin .navbar-fixed-top .navbar-header,
    .edit .navbar-fixed-top .navbar-header{
        display: table;
        margin: 0 auto;
        min-width: 226px;
    }
    .admin .logout_a,
    .edit .logout_a{
        margin: 0 auto 0.5em auto;
        display: table;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .thumb{
        width:200px
    }
    .header_post{
        width:490px
    }
    .content .h{
        font-size:20px
    }

}
@media (min-width: 992px) and (max-width:1200px) {
    .header_post{
        width:594px
    }

}

